In [2]:
import pandas as pd
import requests

In [2]:
response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1")

In [4]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [6]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,46.0460,8.712,28593
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,33.4884,8.686,21650
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,18.7067,8.600,13071
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,16.4613,8.566,16572
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,28.8145,8.549,9272

In [7]:
temp_df.shape

(20, 7)

In [8]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20 non-null     int64
 1   title         20 non-null     object
 2   overview      20 non-null     object
 3   release_date  20 non-null     object
 4   popularity    20 non-null     float64
 5   vote_average  20 non-null     float64
 6   vote_count    20 non-null     int64
dtypes: float64(2), int64(2), object(3)
memory usage: 1.2+ KB

In [16]:
response = requests.get("https://api.openweathermap.org/data/2.5/weather?lat=27.561090&lon=76.621468&appid=ccd3fb80ed8d51ef14529e1809f909b1}")
data = response.json()
print(data)
# weather_info = {
#     "City": data["name"],
#     "Country": data["sys"]["country"],
#     "Latitude": data["coord"]["lat"],
#     "Longitude": data["coord"]["lon"],
#     "Temperature (K)": data["main"]["temp"],
#     "Feels Like (K)": data["main"]["feels_like"],
#     "Humidity (%)": data["main"]["humidity"],
#     "Pressure (hPa)": data["main"]["pressure"],
#     "Weather": data["weather"][0]["main"],
#     "Description": data["weather"][0]["description"],
#     "Wind Speed (m/s)": data["wind"]["speed"],
#     "Rain (1h mm)": data.get("rain", {}).get("1h", 0),  # Safe access
#     "Cloudiness (%)": data["clouds"]["all"]
# }

# df = pd.DataFrame([weather_info])

{'cod': 401, 'message': 'Invalid API key. Please see https://openweathermap.org/faq#error401 for more info.'}